body{
    font-family: Arial, sans-serif;
}
.menu-item{
    font-size: 13px;
    color: black;
    text-decoration: none;
    position: relative;
    top: -8px;
    margin-right: 12px;
}
.menu-item:hover{
    text-decoration: underline;
}
#profile{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 10px;
}
nav{
    text-align: right;
}
#material-icons{
    margin-right: 12px;
}
#voice-search{
    height: 19px;
    
}
section{
    text-align: center;
    margin-top: 200px;
}
#box-wrapper{
    position: relative;
    width: 582px;
    display: inline-block;
    
}
#search-box{
    width: 100%;
    color: black;
    font-size: 13px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
}
#box-wrapper > img{
    position:absolute;
    top: 10px;
    right: 0;
}
#search-box:hover{
    box-shadow: 0 1px 6px 0 lightblue;
    border-color: rgba(223,225,229,0);
}
.btn{
    background-color:#f2f2f2;
    color: #5F6368;
    font-size: 14px;

height: 36px;

padding: 0 16px;

background-image: linear-gradient(top,#f5f5f5,#f1f1f1);

border: 1px solid transparent;

box-shadow: 0 1px 1px rgba(0,0,0,0);

color: #222;
}
#btn-wrapper{
    margin-top: 20px;
}
.btn:hover{
    background-color:linear-gradient(top,#f8f8f8,#f1f1f1);

border: 1px solid #c6c6c6;

box-shadow: 0 1px 1px rgba(0,0,0,0.1);

color: #222;

cursor: pointer;
}
#icon-wrapper{
    width: 285px;

padding: 28px;

border: 1px solid #ccc;

box-shadow: 0 2px 10px rgba(0,0,0,.2);
border-radius: 10px;
position: absolute;
right: 85px;
display: none;
}

.material-icons:hover{
    cursor: pointer;
    display: block;
}

.icons{
    display: inline-block;
    width: 84px;
    margin-bottom: 18px;
 
}
.icons:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;

}
.icons > p{
    color:grey;
    margin:0;
    padding-top: 8px;
}
#dropdown-wrapper{
    display: inline-block;
    text-align: center;
}

#dropdown-wrapper:hover #icon-wrapper{
    display: block;
}
